.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 159, 159, 0.836);
    z-index: 20;
 }

 .modal {
    display: none;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
 }

 .modal__close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
 }

 .btn-modal {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #414b52;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
 }

.accardion{
    width: 200px;
}

 .nav {
    padding: 15px;
    background-color: #414b52;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
 }

 .menu{
    display: none;
    margin: 0;
    padding: 0;
 }

 .sub-menu {
    padding: 15px;
    cursor: pointer;
    color: #fff;
    background-color: #414b52de;
 }

 .sub-menu:hover, .nav:hover, .btn-modal:hover {
    background-color: #414b52b3;
 }

 .sub-menu:active, .nav:active, .btn-modal:active {
    background-color: #414b524f;
 }